.monaco-editor
  .view-line:has(.mtk5):not(:has(.mtk1)):not(:has(.mtk8)):not(:has(.mtk9)) {
  background-color: #242323;
  border-left: 10px;
  border-left-style: solid;
  border-color: #91caf9;
  color: #121212;
}

.monaco-editor
  .view-line:has(.mtk5):not(:has(.mtk1)):not(:has(.mtk8)):not(:has(.mtk9))
  > :first-child
  * {
  color: white;
}

.monaco-editor
  .view-line:has(.mtk20):not(:has(.mtk4)):not(:has(.mtk9)):not(:has(.mtk6)):not(
    :has(.mtk1)
  ) {
  background-color: #cadced;
  border-left: 10px;
  border-left-style: solid;
  border-color: #1977d3;
}

.monaco-editor
  .view-line:has(.mtk20):not(:has(.mtk4)):not(:has(.mtk9)):not(:has(.mtk6)):not(
    :has(.mtk1)
  )
  > :first-child
  * {
  color: black;
}
