.monaco-editor .view-line:has(.mtk5):not(:has(.mtk1)):not(:has(.mtk8)) {
  background-color: #242323;
  border-left: 10px;
  border-left-style: solid;
  border-color: #91caf9;
  color: #121212;
}

.monaco-editor
  .view-line:has(.mtk5):not(:has(.mtk1)):not(:has(.mtk8))
  > :first-child
  * {
  color: white;
}

.monaco-editor
  .view-line:has(.mtk20):not(:has(.mtk4)):not(:has(.mtk9)):not(:has(.mtk6)):not(
    :has(.mtk1)
  ) {
  background-color: #cadced;
  border-left: 10px;
  border-left-style: solid;
  border-color: #1977d3;
}

.monaco-editor
  .view-line:has(.mtk20):not(:has(.mtk4)):not(:has(.mtk9)):not(:has(.mtk6)):not(
    :has(.mtk1)
  )
  > :first-child
  * {
  color: black;
}

/* .container {
  width: "100%";
  height: "100vh";
  display: "flex";
  font-family: "Verdana";
  font-size: 16px;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 70% 30%;
}

.padded {
  text-align: left;
  padding: 8px;
}

.checkbox {
  display: inline-block;
  height: 16px;
  width: 16px;
} */

/* .button {
  font-family: "Verdana";
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 8px 8px;
  background-color: #d3d3d3;
} */

/* .code {
  font-family: "Courier";
  font-size: 16px;
  text-wrap: nowrap;
  display: inline-block;
  background-color: #fdf5e6;
} */
