html,
body {
  margin: 0;
  /* font-family: sans-serif; */
  font-family: "Monaco";

  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.react-flow {
  --bg-color: rgb(17, 17, 17);
  --text-color: rgb(243, 244, 246);
  --node-border-radius: 10px;
  --node-box-shadow: 10px 0 15px rgba(42, 138, 246, 0.3),
    -10px 0 15px rgba(233, 42, 103, 0.3);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.react-flow__node-turbo {
  border-radius: var(--node-border-radius);
  display: flex;
  height: auto;
  min-width: 150px;
  /* font-family: "Fira Mono", Monospace; */
  font-family: "Monaco";

  font-weight: 500;
  letter-spacing: -0.2px;
  box-shadow: var(--node-box-shadow);
}

.react-flow__node-turbo .wrapper {
  overflow: hidden;
  display: flex;
  padding: 2px;
  position: relative;
  border-radius: var(--node-border-radius);
  flex-grow: 1;
}

.gradient:before {
  content: "";
  position: absolute;
  padding-bottom: calc(100% * 1.41421356237);
  width: calc(100% * 1.41421356237);
  background: conic-gradient(
    from -160deg at 50% 50%,
    #e92a67 0deg,
    #a853ba 120deg,
    #2a8af6 240deg,
    #e92a67 360deg
  );
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

/* .react-flow__node-turbo.selected .wrapper.gradient:before { */

.react-flow__node-turbo .wrapper.gradient:before {
  content: "";
  background: conic-gradient(
    from -160deg at 50% 50%,
    #e92a67 0deg,
    #a853ba 120deg,
    #2a8af6 240deg,
    #2a8af600 360deg
  );
  animation: spinner 4s linear infinite;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: -1;
}

@keyframes spinner {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.react-flow__node-turbo .inner {
  background: var(--bg-color);
  padding: 20px 20px;
  border-radius: var(--node-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  position: relative;
  padding-bottom: 1px;
}

.react-flow__node-turbo .icon {
  margin-right: 8px;
}

.react-flow__node-turbo .body {
  display: flex;
  /* added */
  /* margin-top: 15px; */

  width: 250px;
}

.react-flow__node-turbo .title {
  font-size: 16px;
  width: 100%;
  margin-bottom: 2px;
  line-height: 1.5;
  flex: 1;
}

.react-flow__node-turbo .subline {
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
}

.react-flow__node-turbo .cloud {
  /* background: rgba(255, 0, 0, 0.4); */
  border-radius: 100%;
  width: 30px;
  height: 30px;
  right: 0;
  position: absolute;
  top: 0;
  transform: translate(50%, -50%);
  display: flex;
  transform-origin: center center;
  padding: 2px;
  overflow: hidden;
  box-shadow: var(--node-box-shadow);
  z-index: 1;
}

.react-flow__node-turbo .cost {
  /* background-color: rgba(255, 0, 0, 0.2); */
  /* border-radius: 10px; */
  margin-bottom: 0px;

  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  display: flex;
  padding: 1px;
  overflow: hidden;
  z-index: 1;
  justify-content: flex-end;
  align-items: center;
}

.react-flow__node-turbo .cost div {
  background-color: rgba(255, 0, 0, 1);

  flex-grow: 1;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.react-flow__node-turbo .cloud div {
  background-color: var(--bg-color);
  flex-grow: 1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.react-flow__handle {
  opacity: 0;
}

.react-flow__handle.source {
  right: 50%;
}

.react-flow__handle.target {
  left: 52%;
}

.react-flow__node:focus {
  outline: none;
}

.react-flow__edge .react-flow__edge-path {
  stroke: url(#edge-gradient);
  stroke-width: 4;
  stroke-opacity: 0.75;
  stroke-dasharray: 10, 10;
  animation: dash 5s linear forwards infinite;
  stroke-dashoffset: 100;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.react-flow__controls button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid #95679e;
  border-bottom: none;
}

.react-flow__controls button:hover {
  background-color: rgb(37, 37, 37);
}

.react-flow__controls button:first-child {
  border-radius: 5px 5px 0 0;
}

.react-flow__controls button:last-child {
  border-bottom: 1px solid #95679e;
  border-radius: 0 0 5px 5px;
}

.react-flow__controls button path {
  fill: var(--text-color);
}

.react-flow__attribution {
  background: rgba(200, 200, 200, 0.2);
}

.react-flow__attribution a {
  color: #95679e;
}
