@keyframes spinner {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.react-flow {
  --node-box-shadow: 10px 0 15px rgba(42, 138, 246, 0.3),
    -10px 0 15px rgba(233, 42, 103, 0.3);
}

.react-flow__handle {
  opacity: 0;
}

.react-flow__handle.source {
  right: 50%;
}

.react-flow__handle.target {
  left: 52%;
}

.react-flow__node:focus {
  outline: none;
}

.react-flow__edge .react-flow__edge-path {
  stroke: url(#edge-gradient);
  stroke-width: 4;
  stroke-opacity: 0.75;
  stroke-dasharray: 10, 10;
  animation: dash 5s linear forwards infinite;
  stroke-dashoffset: 100;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
